.buttons {
    display: flex;
    flex-wrap: wrap;
}

.buttons__button {
    border: none;
    color: teal;
    background-color: transparent;
    margin: 0 0 0 20px;
    transition: color 0.5s;
}

@media (max-width: 767px) {
    .buttons__button {
        flex-basis:100px;
        margin: 10px;
    }
}

.buttons__button:hover {
    color: hsl(180, 100%, 40%);
}

.buttons__button:disabled {
    color: #ccc;
}